
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
    {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--

Template 2091 Ziggy

http://www.tooplate.com/view/2091-ziggy

-->
        <title>Cases Under Investigation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" type = 'text/css'/>
        <link rel="stylesheet" href=" {% static 'css/bootstrap-theme.min.css' %}" type = 'text/css'/>
        <link rel="stylesheet" href=" {% static 'css/fontAwesome.css' %}" type = 'text/css'/>
        <link rel="stylesheet" href=" {% static 'css/tooplate-style.css' %}" type = 'text/css'/>

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
       
    </head>

  <style>
.flex-container {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(" {% static 'galaxy.jpg' %}");
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 900px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 23px;
}
</style>
</head>
<body>
  <div align="center">
<h1>Probabilities Calculated Using Naive Bayes classifier for multivariate Bernoulli models</h1>
<hr>
<h4><a href='https://github.com/Sangarshanan/Data-visualization/blob/master/India%20crime/San%20francisco.ipynb'> Check out the implementation </a> <br></h4>
<br><div class="flex-container">


  <div>Probability of  {{ crimes38  }} is {{array38}} % </div>
  <div>Probability of  {{ crimes37  }} is {{array37}} % </div>
  <div>Probability of  {{ crimes36  }} is {{array36}} % </div>
  <div>Probability of  {{ crimes35  }} is {{array35}} % </div>
  <div>Probability of  {{ crimes34  }} is {{array34}} % </div>
  <div>Probability of  {{ crimes33  }} is {{array33}} % </div>
  <div>Probability of  {{ crimes32  }} is {{array32}} % </div>
  <div>Probability of  {{ crimes31  }} is {{array31}} % </div>


  <div>Probability of  {{ crimes30  }} is {{array30}} % </div>
  <div>Probability of  {{ crimes29  }} is {{array29}} % </div>
  <div>Probability of  {{ crimes28  }} is {{array28}} % </div>
  <div>Probability of  {{ crimes27  }} is {{array27}} % </div>
  <div>Probability of  {{ crimes26  }} is {{array26}} % </div>
  <div>Probability of  {{ crimes25  }} is {{array25}} % </div>
  <div>Probability of  {{ crimes24  }} is {{array24}} % </div>
  <div>Probability of  {{ crimes23  }} is {{array23}} % </div>
  <div>Probability of  {{ crimes22  }} is {{array22}} % </div>
  <div>Probability of  {{ crimes21  }} is {{array21}} % </div>


  <div>Probability of  {{ crimes20  }} is {{array20}} % </div>
  <div>Probability of  {{ crimes19  }} is {{array19}} % </div>
  <div>Probability of  {{ crimes18  }} is {{array18}} % </div>
  <div>Probability of  {{ crimes17  }} is {{array17}} % </div>
  <div>Probability of  {{ crimes16  }} is {{array16}} % </div>
  <div>Probability of  {{ crimes15  }} is {{array15}} % </div>
  <div>Probability of  {{ crimes14  }} is {{array14}} % </div>
  <div>Probability of  {{ crimes13  }} is {{array13}} % </div>
  <div>Probability of  {{ crimes12  }} is {{array12}} % </div>

  <div>Probability of  {{ crimes11  }} is {{array11}} % </div>
  <div>Probability of  {{ crimes10  }} is {{array10}} % </div>
  <div>Probability of  {{ crimes09  }} is {{array09}} % </div> 
  <div>Probability of  {{ crimes08  }} is {{array08}} % </div>  
  <div>Probability of  {{ crimes07  }} is {{array07}} % </div>  
  <div>Probability of  {{ crimes06  }} is {{array06}} % </div>  
  <div>Probability of  {{ crimes05  }} is {{array05}} % </div>  
  <div>Probability of  {{ crimes04  }} is {{array04}} % </div>  
  <div>Probability of  {{ crimes03  }} is {{array03}} % </div>  
  <div>Probability of  {{ crimes02  }} is {{array02}} % </div>  
  <div>Probability of  {{ crimes01  }} is {{array01}} % </div>  
  <div>Probability of  {{ crimes00  }} is {{array00}} %</div>  

</div>







                  


                  <br>
                  <a href="/sanfrancisco">
   				    <button type="button" class="btn btn-primary btn-md">Go Back</button>    </a> 

<br>
<br>
            


                </div>
              </div>
            </div>
          </div>
        </section>



</html>
